.search {
  @include overflow(auto);

}
.search--google-custom-search-engine {
  .main {
    padding-top: map-get($spacers, 4);
    padding-bottom: map-get($spacers, 4);
    @include media-breakpoint-down(md) {
      position: absolute;
      padding: 0;
    }
  }
}

.search__header {
  margin-top: map-get($spacers, 4);
  font-size: map-get($base, font-size-h1);
  font-weight: map-get($base, font-weight-bold);
  color: $text-color-d;
  .search--light & {
    color: $text-color-theme-light-d;
  }
  .search--dark & {
    color: $text-color-theme-dark-d;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.search-bar {
  @include flexbox();
  margin: map-get($spacers, 3) 0 map-get($spacers, 4) 0;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 22rem;
  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: none;
  }
  & > input {
    display: inline-block;
    width: 100%;
    height: $button-height-lg;
    padding: 0 2rem;
    margin: 0;
    line-height: 1 !important;
    color: $text-color;
    background-color: transparent;
    border: 2px solid $border-color;
    border-radius: map-get($button, pill-radius);
    -webkit-appearance: none; /* fix iOS don't display box-shadow properly */
    @include transition(box-shadow map-get($animation, duration) map-get($animation, timing-function));
    @include focus {
      box-shadow: 0 0 0 2px rgba($border-color, .4);
    }
    .search--light & {
      color: $text-color-theme-light;
      border-color: $text-color-theme-light;
      @include focus {
        box-shadow: 0 0 0 2px rgba($text-color-theme-light, .4);
      }
    }
    .search--dark & {
      color: $text-color-theme-dark;
      border-color: $text-color-theme-dark;
      @include focus {
        box-shadow: 0 0 0 2px rgba($text-color-theme-dark, .4);
      }
    }
  }
  & > .search-box__icon-search {
    color: $text-color-l;
    .search--light & {
      color: $text-color-theme-light-l;
    }
    .search--dark & {
      color: $text-color-theme-dark-l;
    }
  }
  & > .search-box__icon-clear {
    & > a {
      @include link-colors($text-color);
      .search--light & {
        @include link-colors($text-color-theme-light);
      }
      .search--dark & {
        @include link-colors($text-color-theme-dark);
      }
      cursor: pointer;
    }
  }
  & > .search-box__icon-search, & > .search-box__icon-clear {
    position: absolute;
    width: $button-height-lg;
    height: $button-height-lg;
    line-height: $button-height-lg;
    text-align: center;
    vertical-align: middle;
  }
  &.not-empty > .search-box__icon-clear {
    display: block;
  }
  & > .search-box__icon-clear {
    top: 0;
    right: 0;
    display: none;
  }
  & > .search-box__icon-search {
    top: 0;
    left: 0;
  }
}

.search__cancel {
  margin-left: map-get($spacers, 2);
  font-weight: map-get($base, font-weight-bold);
  white-space: nowrap;
}

.search-result {
  margin: map-get($spacers, 4) 0;
  font-size: map-get($base, font-size-sm);
  line-height: map-get($base, line-height-sm);
}

.search-result__header {
  margin: map-get($spacers, 3) 0 map-get($spacers, 2) 0;
  font-size: map-get($base, font-size-lg);
  font-weight: map-get($base, font-weight-bold);
  color: $text-color-l;
  text-transform: uppercase;
  .search--light & {
    color: $text-color-theme-light-l;
  }
  .search--dark & {
    color: $text-color-theme-dark-l;
  }
}

.search-result__item {
  list-style-type: none;
  
  .search-result__container {
    padding: map-get($spacers, 1) map-get($spacers, 3);
    @include transition(background-color 0.2s ease);
    
    &:hover {
      background-color: rgba($main-color-1, 0.08);
      .search--light & {
        background-color: rgba($main-color-theme-light, 0.08);
      }
      .search--dark & {
        background-color: rgba($main-color-theme-dark, 0.15);
      }
    }
  }
  
  .search-result__title-link,
  .search-result__excerpt-link {
    display: block;
    text-decoration: none;
    color: $text-color;
    @include transition(none);
    
    .search--light & {
      color: $text-color-theme-light;
    }
    .search--dark & {
      color: $text-color-theme-dark;
    }
    
    &:hover {
      text-decoration: none;
    }
  }
  
  .search-result__title-link {
    margin-bottom: 0.25rem;
  }
  
  &.active {
    .search-result__container {
      background-color: rgba($main-color-1, 0.12);
      .search--light & {
        background-color: rgba($main-color-theme-light, 0.12);
      }
      .search--dark & {
        background-color: rgba($main-color-theme-dark, 0.2);
      }
    }
    
    .search-result__title-link,
    .search-result__excerpt-link {
      color: $text-color;
      .search--light & {
        color: $text-color-theme-light;
      }
      .search--dark & {
        color: $text-color-theme-dark;
      }
    }
  }
}

.search-result__title {
  font-weight: map-get($base, font-weight-bold);
}

.search-result__excerpts {
  margin-top: map-get($spacers, 2);
}

.search-result__excerpt-item {
  margin-bottom: map-get($spacers, 1);
  
  &:last-child {
    margin-bottom: 0;
  }
}

.search-result__excerpt-link {
  display: block;
  padding: map-get($spacers, 1) map-get($spacers, 2);
  background-color: rgba($border-color, 0.1);
  border-left: 3px solid $border-color;
  border-radius: 3px;
  @include transition(all 0.2s ease);
  
  .search--light & {
    background-color: rgba($text-color-theme-light, 0.05);
    border-left-color: rgba($text-color-theme-light, 0.3);
  }
  .search--dark & {
    background-color: rgba($text-color-theme-dark, 0.05);
    border-left-color: rgba($text-color-theme-dark, 0.3);
  }
  
  &:hover {
    background-color: rgba($main-color-1, 0.1);
    border-left-color: $main-color-1;
    transform: translateX(3px);
    
    .search--light & {
      background-color: rgba($main-color-theme-light, 0.15);
      border-left-color: $main-color-theme-light;
    }
    .search--dark & {
      background-color: rgba($main-color-theme-dark, 0.15);
      border-left-color: $main-color-theme-dark;
    }
  }
}

.search-result__match-badge {
  display: inline-block;
  padding: 0.1em 0.5em;
  margin-bottom: 0.3em;
  font-size: map-get($base, font-size-xs);
  font-weight: map-get($base, font-weight-bold);
  color: $main-color-1;
  background-color: rgba($main-color-1, 0.1);
  border-radius: 10px;
  
  .search--light & {
    color: $main-color-theme-light;
    background-color: rgba($main-color-theme-light, 0.15);
  }
  .search--dark & {
    color: $main-color-theme-dark;
    background-color: rgba($main-color-theme-dark, 0.15);
  }
}

.search-result__excerpt {
  font-size: map-get($base, font-size-xs);
  line-height: 1.5;
  color: $text-color-l;
  
  .search--light & {
    color: $text-color-theme-light-l;
  }
  .search--dark & {
    color: $text-color-theme-dark-l;
  }
  
  .search-result__item.active & {
    color: $text-color;
    .search--light & {
      color: $text-color-theme-light;
    }
    .search--dark & {
      color: $text-color-theme-dark;
    }
  }
  
  mark {
    background-color: #ffeb3b;
    color: #000;
    padding: 0.15em 0.3em;
    border-radius: 2px;
    font-weight: map-get($base, font-weight-bold);
    .search--dark & {
      background-color: #ffc107;
      color: #000;
    }
  }
}

.search-result__title {
  mark {
    background-color: #ffeb3b;
    color: #000;
    padding: 0.1em 0.2em;
    border-radius: 2px;
    font-weight: map-get($base, font-weight-bold);
    .search--dark & {
      background-color: #ffc107;
      color: #000;
    }
  }
}

// google search
.gsc-control-cse {
  *,
  ::before,
  ::after {
    box-sizing: initial;
  }
}
